.about {
    background-color: var(--color-off-white);
}

.about-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--spacing-64);
}

.about-content-container {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.about-content-top {
    padding-bottom: var(--spacing-64);
}

.about-content-mid {
    display: flex;
    align-items: stretch;
    gap: var(--spacing-32);
}

.about-column-number h3 {
    line-height: 1;
}

.about-border {
    width: 5px;
    border-radius: var(--spacing-32);
    height: auto;
    background-color: var(--color-yellow);
}

.about-column-number {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-8);
}

.about-content-bottom {
    margin-top: auto;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "a b"
    "a c"
    "a c";
    gap: var(--spacing-24);
    width: 600px;
    height: 500px;
}

.about-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--spacing-32);
}

.about-grid-item-a { grid-area: a; }
.about-grid-item-b { grid-area: b; }
.about-grid-item-c { grid-area: c; }

@media (max-width: 1200px) {
    .about-container {
        gap: var(--spacing-32);
    }

    .about-content-container, .about-grid {
        height: 550px;
    }

    .about-content-container {
        justify-content: space-between;
    }

    .about-grid {
        gap: var(--spacing-16);
    }

    .about-content-top {
        padding-bottom: 0;
    }

    .about-content-bottom {
        margin-top: 0;
    }
}


@media (max-width: 992px) {
    .about-container {
        flex-direction: column-reverse;
    }

    .about-content-container, .about-grid {
        width: 100%;
        height: 100%;
    }

    .about-content-container {
        gap: var(--spacing-32);
    }

    .about-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "a b"
        "a c";
    }
}

@media (max-width: 576px) {
    .about-grid {
        display: inline-block;
    }

    .about-grid-item-b, .about-grid-item-c {
        display: none;
    }

    .about-content-mid {
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-16);
    }

    .about-column-number {
        width: 200px;
        align-items: center;
    }

    .about-border {
        display: none;
    }
}