.about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: var(--spacing-64);
}

.about-content-title h2, .about-content-title span, .about-column-number h3 {
    line-height: 1;
}

.about-content-container {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.about-content-top {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    padding-bottom: var(--spacing-64);
}

.about-content-title {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.about-content-mid {
    display: flex;
    align-items: stretch;
    gap: var(--spacing-32);
}

.about-border {
    width: 5px;
    border-radius: var(--spacing-32);
    height: auto;
    background-color: var(--color-yellow);
}

.about-column-number {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-8);
}

.about-content-bottom {
    margin-top: auto;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "a b"
    "a c"
    "a c";
    gap: var(--spacing-24);
    width: 600px;
    height: 500px;
}

.about-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--spacing-32);
}

.about-grid-item-a { grid-area: a; }
.about-grid-item-b { grid-area: b; }
.about-grid-item-c { grid-area: c; }