.button, .button-full-width, .button-outline {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    padding: var(--spacing-16) var(--spacing-32);
    border-radius: var(--spacing-32);
    width: fit-content;
    font-weight: var(--fw-semi-bold);
}

.button, .button-full-width {
    background-color: var(--color-yellow);
    color: var(--color-off-white);
}

.button-outline {
    border: 2px solid var(--color-yellow);
    color: var(--color-yellow);
}

.button i, .button-full-width i {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    transition: transform 0.2s ease-in-out;
}

.button:hover i,
.button-full-width:hover i {
    transform: translateX(4px); 
}

@media (max-width: 576px) {
    .button-full-width {
        width: 100%;
        justify-content: center;
    }
}

