.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--spacing-64);
}

@media (max-width: 992px) {
    .container {
        padding: var(--spacing-48);
    }
}

@media (max-width: 768px) {
    .container {
        padding: var(--spacing-32);
    }
}


@media (max-width: 576px) {
    .container {
        padding: var(--spacing-24);
    }
}

