.faq {
    background-color: var(--color-off-white);
}

.faq-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-64);
}

.faq-top {
    text-align: center;
    max-width: 650px;
}

.faq-bottom {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
}