.footer-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-64);
}

.footer-divider {
    height: 1px;
    width: 100%;
    background-color: var(--color-off-white);
    opacity: .5;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    color: var(--color-off-white);
}

.footer-top-end {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-32);
}

.footer-socials-container {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    padding-top: var(--spacing-16);
}

.footer-social {
    line-height: 1;
    width: fit-content;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.footer-list-item {
    color: var(--color-off-white);
    transition: all .2s ease-in;
}

.footer-list-item:hover {
    color: var(--color-yellow);
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-copy, .footer-button {
    color: var(--color-off-white);
    opacity: .5;
}

.footer-lang {
    display: flex;
    align-items: stretch;
    gap: var(--spacing-8);
}

.footer-button {
    background-color: transparent;
    border: none;
}

.footer-lang-divider {
    height: auto;
    width: 1px;
    background-color: var(--color-off-white);
    opacity: .5;
}

.footer-lang button:first-of-type {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
        gap: var(--spacing-32);
    }

    .footer-socials-container {
        padding-top: 0;
    }

    .footer-top-end {
        flex-direction: column;
        gap: var(--spacing-32);
    }
}
