.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    color: var(--color-off-white);
}

.footer-top-end {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-32);
}

.footer-socials-container {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    padding-top: var(--spacing-16);
}

.footer-social {
    line-height: 1;
    width: fit-content;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.footer-list-item {
    color: var(--color-off-white);
    transition: all .2s ease-in;
}

.footer-list-item:hover {
    color: var(--color-yellow);
}

@media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
        gap: var(--spacing-32);
    }

    .footer-socials-container {
        padding-top: 0;
    }

    .footer-top-end {
        flex-direction: column;
        gap: var(--spacing-32);
    }
}
