.header-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--spacing-64);
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--spacing-64) var(--spacing-64) 0 var(--spacing-64);
}

.header-left {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-32);
    width: 600px;
}

.header-right {
    object-fit: cover;
    width: auto;
    height: 550px;
}

.header-download-flex {
    display: flex;
    gap: var(--spacing-16);
}

.header-title {
    width: 420px;
}

@media (max-width: 1200px) {
    .header-container {
        gap: var(--spacing-32);
    }
    
    .header-right {
        height: 500px;
    }
}

@media (max-width: 992px) {
    .header-container {
        padding: var(--spacing-32) var(--spacing-32) 0 var(--spacing-32);
        flex-direction: column;
        align-items: flex-end;
    }

    .header-left {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 576px) {
    .header-container {
        padding: var(--spacing-16) var(--spacing-16) 0 var(--spacing-16);
    }
}

