/* Colors */
.color-yellow {
    color: var(--color-yellow);
}

.color-white {
    color: var(--color-off-white);
}

/* Text block */
.text-block-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}

.text-block-top {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.text-block-top span {
    font-weight: var(--fw-light);
    line-height: 1;
}

.text-block-top h2, .text-block-top h1 {
    line-height: 1;
}
