@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*---------------------------------------*/
/* # SETTINGS (variables)                */
/*---------------------------------------*/
:root {
    /* Colors */
    --color-green: #0C3C3B;
    --color-yellow: #FFC53E;
    --color-off-black: #171717;
    --color-off-white: #F9F3F1;

    /* Spacings */
    --spacing-sm: 8px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;

    /* Font sizes */
    --fs-h1: 61px;
    --fs-h2: 49px;
    --fs-h3: 39px;
    --fs-h4: 31px;
    --fs-normal: 16px;

    /* Font styling */
    --fw-h1: 800;
    --fw-h2: 700;
    --fw-h3: 600;
    --fw-h4: 500;
    --fw-normal-regular: 400;
    --fw-normal-bold: 700;
    --fw-normal-light: 300;
}
/*---------------------------------------*/
/* # GENERIC                             */
/*---------------------------------------*/
* ,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    min-height: 100%;
    height: auto;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
/*---------------------------------------*/
/* # ELEMENTS (HTML)                     */
/*---------------------------------------*/
h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-h1);
}

h2 {
    font-size: var(--fs-h2);
    font-weight: var(--fw-h2);
}

h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-h3);
}

h4 {
    font-size: var(--fs-h4);
    font-weight: var(--fw-h4);
}

p {
    font-size: var(--fs-normal);
    font-weight: var(--fw-normal-regular);
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
/*---------------------------------------*/
/* # COMPONENTS (UI)                     */
/*---------------------------------------*/

/*---------------------------------------*/
/* # OBJECTS (layout structures)         */
/*---------------------------------------*/

/*---------------------------------------*/
/* # UTILITIES (reusable)                */
/*---------------------------------------*/

/*---------------------------------------*/
/* # MEDIA                               */
/*---------------------------------------*/

/*---------------------------------------*/
/* # TOOLS (mixins)                      */
/*---------------------------------------*/

/*---------------------------------------*/
/* # LIBRARIES                           */
/*---------------------------------------*/
