@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*---------------------------------------*/
/* # SETTINGS (variables)                */
/*---------------------------------------*/
:root {
    /* Colors */
    --color-green: #0C3C3B;
    --color-yellow: #FFC53E;
    --color-off-black: #171717;
    --color-off-white: #F9F3F1;

    /* Spacings */
    --spacing-8: 8px;
    --spacing-16: 16px;
    --spacing-24: 24px;
    --spacing-32: 32px;
    --spacing-64: 64px;

    /* Font sizes */
    --fs-h1: 61px;
    --fs-h2: 49px;
    --fs-h3: 39px;
    --fs-h4: 31px;
    --fs-normal: 16px;

    /* Font styling */
    --fw-h1: 800;
    --fw-h2: 700;
    --fw-h3: 600;
    --fw-h4: 500;
    --fw-normal-regular: 400;
    --fw-normal-bold: 700;
    --fw-normal-light: 300;
}
/*---------------------------------------*/
/* # GENERIC                             */
/*---------------------------------------*/
* ,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    min-height: 100%;
    height: auto;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-off-white);
    color: var(--color-green);
    overflow-x: hidden;
}
/*---------------------------------------*/
/* # ELEMENTS (HTML)                     */
/*---------------------------------------*/
h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-h1);
}

h2 {
    font-size: var(--fs-h2);
    font-weight: var(--fw-h2);
}

h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-h3);
}

h4 {
    font-size: var(--fs-h4);
    font-weight: var(--fw-h4);
}

p {
    font-size: var(--fs-normal);
    font-weight: var(--fw-normal-regular);
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
/*---------------------------------------*/
/* # COMPONENTS (UI)                     */
/*---------------------------------------*/

/* Navigation */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-green);
    padding: var(--spacing-24);
}

.navigation-list {
    display: flex;
    align-items: center;
    gap: var(--spacing-32);
    transition: all .3s ease-in;
}

.navigation-list-item {
    color: var(--color-off-white);
}

.navigation-hamburger-checkbox, .navigation-hamburger-label {
    display: none;
}

.navigation-hamburger-bar {
    background-color: var(--color-yellow);
    width: 1.5rem;
    height: .1rem;
    margin-bottom: .3rem;
    display: block;
    transition: all .3s ease-in;
}

.navigation-hamburger-label {
    cursor: pointer;
    position: absolute;
    right: var(--spacing-24);
    z-index: 100;
}

.navigation-hamburger-bar-top {
    margin-top: .3rem;
    transform-origin: 0;
}

.navigation-hamburger-bar-bottom {
    transform-origin: 0 100%;
}

.navigation-hamburger-checkbox:checked ~ .navigation-list {
    right: 0;
}

.navigation-hamburger-checkbox:checked + .navigation-hamburger-label .navigation-hamburger-bar-top {
    transform: rotate(45deg);
}

.navigation-hamburger-checkbox:checked + .navigation-hamburger-label .navigation-hamburger-bar-bottom {
    transform: rotate(-45deg) translate(-2px, 3.75px);
}

.navigation-hamburger-checkbox:checked + .navigation-hamburger-label .navigation-hamburger-bar-mid {
    opacity: 0;
}
/*---------------------------------------*/
/* # OBJECTS (layout structures)         */
/*---------------------------------------*/

/*---------------------------------------*/
/* # UTILITIES (reusable)                */
/*---------------------------------------*/

/*---------------------------------------*/
/* # MEDIA                               */
/*---------------------------------------*/
@media (max-width: 768px) {
    /* Navigation */
    .navigation-hamburger-label {
        display: inline-block;
    }

    .navigation-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-16);
        background-color: var(--color-off-white);
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        right: -100vw;
    }

    .navigation-list-item {
        color: var(--color-green);
    }
}

@media (max-width: 992px) {
    .navigation-list {
        gap: var(--spacing-16);
    }
}
/*---------------------------------------*/
/* # TOOLS (mixins)                      */
/*---------------------------------------*/

/*---------------------------------------*/
/* # LIBRARIES                           */
/*---------------------------------------*/
