/*---------------------------------------*/
/* # SETTINGS (variables)                */
/*---------------------------------------*/
:root {
    /* Colors */
    --color-green: #0C3C3B;
    --color-yellow: #FFC53E;
    --color-off-black: #171717;
    --color-off-white: #F9F3F1;

    /* Spacings */
    --spacing-sm: 8px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;

    /* Font sizes */
    --fs-h1: 61px;
    --fs-h2: 49px;
    --fs-h3: 39px;
    --fs-h4: 31px;
    --fs-p: 16px;
}
/*---------------------------------------*/
/* # GENERIC                             */
/*---------------------------------------*/

/*---------------------------------------*/
/* # ELEMENTS (HTML)                     */
/*---------------------------------------*/

/*---------------------------------------*/
/* # COMPONENTS (UI)                     */
/*---------------------------------------*/

/*---------------------------------------*/
/* # OBJECTS (layout structures)         */
/*---------------------------------------*/

/*---------------------------------------*/
/* # UTILITIES (reusable)                */
/*---------------------------------------*/

/*---------------------------------------*/
/* # MEDIA                               */
/*---------------------------------------*/

/*---------------------------------------*/
/* # TOOLS (mixins)                      */
/*---------------------------------------*/

/*---------------------------------------*/
/* # LIBRARIES                           */
/*---------------------------------------*/
